body {
    margin: 0;
    background:rgb(62, 3, 65);
    font-family: Arial, Helvetica, sans-serif;
  }
  #memory-board  {
   display: flex;
   flex-wrap: wrap;
   margin-top: -80px;
    background:rgb(107, 11, 110);
    border-radius: 10px;
    font-size: 30px;
    font-family: Arial;
    width: 400px;
    padding: 10px;
    margin-left: 55%;
    
  }
  
  .memory-cards{
    background:rgb(252, 247, 247);
    border-radius: 5px;
    font-size: 30px;
    font-family: Arial;
    width: 60px;
    padding: 10px;
    margin: 5px;
    margin-left: 10%;
    transform-style: preserve-3d;
    transition: transform .5s;
  }
  #memory-cards:active{
    transform: scale(.80);
    }
  img{
  width: 50px;
  }
  #memory-board2  {
     background:rgb(107, 11, 110);
     border-radius: 10px;
     font-size: 30px;
     font-family: Arial;
     width: 90px;
    padding: 10px;
    margin-left: 30%;
    margin-top: -20%;
     
   }
   #card-to-guess{
    background:rgb(252, 247, 247);
    border-radius: 5px;
    font-size: 30px;
    font-family: Arial;
    padding: 10px;
    margin: 5px;
    height: 60px;
    aspect-ratio: 1;
   
  }
  .front-face {
    background:rgb(252, 247, 247);
    backface-visibility: hidden;
  }
  .back-face {
    background:rgb(252, 247, 247);
    
  }
  .memory-cards.turn{
    transform: rotateY(180deg);
  }
  .front-face{
    transform: rotateY(180deg);
  } 
    

  h1{
    color: rgb(214, 250, 214);
    text-align: center;
    font-size:150px;
    margin: auto;
    }

    .buttons{
      margin-left: 50%;
      width: 100px;
      margin-top: 30px;
      }

   .buttons:active{
      transform: scale(.97);
      }
  #score {
    color: rgb(214, 250, 214);
    text-align:right;
    font-size:20px;
    margin-right: 40px;
    }
.restart {
  visibility: hidden;
  }

 
  


  



